<%= form_with(model: text_content, local: true) do |form| %>
  <% if text_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(text_content.errors.count, "error") %> prohibited this text_content from being saved:</h2>

      <ul>
        <% text_content.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.text_field :post_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
