<p id="notice"><%= notice %></p>

<h1>Text Contents</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @text_contents.each do |text_content| %>
      <tr>
        <td><%= text_content.content %></td>
        <td><%= text_content.post_id %></td>
        <td><%= link_to 'Show', text_content %></td>
        <td><%= link_to 'Edit', edit_text_content_path(text_content) %></td>
        <td><%= link_to 'Destroy', text_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Text Content', new_text_content_path %>
