<section id="home-hero-section" class="bg-left-bottom mb-16">

  <div class="xl:container xl:mx-auto xl:px-20">
    <div class="container mx-auto flex px-5 pb-2 md:flex-row flex-col items-center mb-4">
      <div class="lg:flex-grow md:w-1/2 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font text-xl lg:text-sm mb-2 font-color-purple">
          <strong>Seja bem vindo(a) ao PVE</strong>
        </h1>
        <p class="mb-4 leading-snug lg:text-3xl text-3xl mb-4 font-color-purple">
          <strong class="font-color-purple-light">O programa que valoriza<br/>a educação com ajuda de</strong>
          <br/><strong class="font-color-purple">
            <span id="collaborators-titles-animated"></span>
            <span id="cursor-animation-collaborators"></span>
          </strong>
        </p>
        <%= search_form_for @q, url: search_posts_path, html: { method: :post, class:'flex w-full' } do |f| %>
          <%= f.search_field :post_content_cont, {id: 'home-search-input',
            class: 'w-full rounded mr-2 border-purple-1 pl-2',
            placeholder: 'Digite o que você procura. Ex: Webinar, Telas Abertas, Notícias'} %>
          <%= f.button type: 'submit', class: 'bg-color-orange border-grey border-l shadow hover:bg-grey-lightest rounded' do %>
            <span class='w-auto flex justify-end items-center p-2 hover:text-grey-darkest font-color-white font-bold'>
              <%= material_icon.search.css_class('font-bold') %>
            </span>
          <% end %>
        <% end %>
      </div>
      <div class="lg:max-w-lg lg:w-7/12 md:w-1/2 w-5/6 pl-16">
        <%= image_tag 'home_hero', {class: "object-cover object-center rounded", alt:"hero"} %>
      </div>
    </div>

    <div class="w-full relative bottom--110" style="margin-top: -135px;">
      <div class="flex flex-wrap -m-4 container mx-auto" id="collaborators-buttons">
        <div class="p-4 md:w-1/4">
          <a class="flex h-full border-purple-1 lg:p-3 p-2 flex-col bg-white rounded" id='enter-gestores' href="/gestores">
            <div class="flex flex-col items-center mb-3">
              <%= image_tag 'hero-gestores', class: 'h-24' %>
            </div>
            <div class="flex-grow text-center">
              <p class="leading-relaxed text-sm"><strong>Gestores</strong></p>
            </div>
            <div class="flex-grow text-center">
              <p class="leading-snug text-xs"><strong>Entre aqui</strong>
                  para ver conteúdos para Gestores Escolares e Educacionais
              </p>
            </div>
          </a>
        </div>
        <div class="p-4 md:w-1/4">
          <a class="flex h-full border-purple-1 lg:p-3 p-2 flex-col bg-white rounded" id='enter-familia' href="/familias">
            <div class="flex flex-col items-center mb-3">
              <%= image_tag 'hero-familias', class: 'h-24' %>
            </div>
            <div class="flex-grow text-center">
              <p class="leading-relaxed text-sm"><strong>Famílias</strong></p>
            </div>
            <div class="flex-grow text-center">
              <p class="leading-snug text-xs"><strong>Entre aqui</strong>
                  para ver conteúdos para Mobilizadores
              </p>
            </div>
          </a>
        </div>
        <div class="p-4 md:w-1/4">
          <a class="flex h-full border-purple-1 lg:p-3 p-2 flex-col bg-white rounded" id='enter-professores' href="/professores">
            <div class="flex flex-col items-center mb-3">
              <%= image_tag 'hero-professores', class: 'h-24' %>
            </div>
            <div class="flex-grow text-center">
              <p class="leading-relaxed text-sm"><strong>Professores</strong></p>
            </div>
            <div class="flex-grow text-center">
              <p class="leading-snug text-xs"><strong>Entre aqui</strong>
                  para ver conteúdos para Professores
              </p>
            </div>
          </a>
        </div>
        <div class="p-4 md:w-1/4">
          <a class="flex h-full border-purple-1 lg:p-3 p-2 flex-col bg-white rounded" id='enter-mobilizadores' href="/mobilizadores">
            <div class="flex flex-col items-center mb-3">
              <%= image_tag 'hero-mobilizadores', class: 'h-24' %>
            </div>
            <div class="flex-grow text-center">
              <p class="leading-relaxed text-sm"><strong>Mobilizadores</strong></p>
            </div>
            <div class="flex-grow text-center">
              <p class="leading-snug text-xs"><strong>Entre aqui</strong>
                  para ver conteúdos para Mobilizadores
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id='section-mapa-interativo'>
  <div class="xl:container xl:mx-auto xl:px-20">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex-col w-full -mb-32 text-black">
        <div class="w-full mx-auto flex-wrap inline-block mt-32 bg-map">
          <h1 class="sm:text-2xl text-2xl title-font md:text-3xl -mt-24 mb-4">Você sabe o que é o PVE?</h1>
          <p class="lg:w-2/4 ml-8 leading-relaxed text-xl lg:text-sm">
            <span class="text-gray-600">O PVE é uma iniciativa do Instituto Votorantim e das empresas investidas e parceiras da Votorantim, comprometida com a melhoria da educação pública a partir da qualificação de práticas de gestão e de mobilização social de comunidades.</span>
          </p>
          <p class="lg:w-2/4 ml-8 mt-1 lg:mt-4 leading-relaxed text-xl lg:text-sm">  
            <a class="font-color-orange" href="/pve">Saiba mais</a>
            <%= image_tag 'arrow-right', {class: "inline-block ml-2", alt:"hero"} %>
          </p>
          <div id="mapa" class="-mt-12 lg:mt-0">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1000 600">
              <a>
                <circle id="MT" cx="692" cy="198" r="20" opacity="1" onmouseover="mouseOverMethod(this)" onmouseout="mouseOutMethod()"/>
                <circle id="PA" cx="735" cy="125" r="20" opacity="0" onmouseover="mouseOverMethod(this)" onmouseout="mouseOutMethod()"/>
                <circle id="TO" cx="825" cy="166" r="20" opacity="0" onmouseover="mouseOverMethod(this)" onmouseout="mouseOutMethod()"/>
                <circle id="PE" cx="983" cy="166" r="20" opacity="0" onmouseover="mouseOverMethod(this)" onmouseout="mouseOutMethod()"/>
                <circle id="PI" cx="890" cy="147" r="20" opacity="0" onmouseover="mouseOverMethod(this)" onmouseout="mouseOutMethod()"/>
                <circle id="BA" cx="900" cy="216" r="20" opacity="0" onmouseover="mouseOverMethod(this)" onmouseout="mouseOutMethod()"/>
                <circle id="SE" cx="963" cy="200" r="20" opacity="0" onmouseover="mouseOverMethod(this)" onmouseout="mouseOutMethod()"/>
                <circle id="GO" cx="806" cy="239" r="20" opacity="0" onmouseover="mouseOverMethod(this)" onmouseout="mouseOutMethod()"/>
                <circle id="MG" cx="878" cy="267" r="20" opacity="0" onmouseover="mouseOverMethod(this)" onmouseout="mouseOutMethod()"/>
                <circle id="RJ" cx="900" cy="332" r="20" opacity="0" onmouseover="mouseOverMethod(this)" onmouseout="mouseOutMethod()"/>
                <circle id="SP" cx="840" cy="313" r="20" opacity="0" onmouseover="mouseOverMethod(this)" onmouseout="mouseOutMethod()"/>
                <circle id="RS" cx="786" cy="433" r="20" opacity="0" onmouseover="mouseOverMethod(this)" onmouseout="mouseOutMethod()"/>
                <circle id="SC" cx="813" cy="375" r="20" opacity="0" onmouseover="mouseOverMethod(this)" onmouseout="mouseOutMethod()"/>
                <circle id="PR" cx="795" cy="332" r="20" opacity="0" onmouseover="mouseOverMethod(this)" onmouseout="mouseOutMethod()"/>
                <circle id="MS" cx="750" cy="303" r="20" opacity="0" onmouseover="mouseOverMethod(this)" onmouseout="mouseOutMethod()"/>
              </a>
            </svg>
        </div>
        </div>
        <div class="w-full">
          <h1 class="ml-24 lg:ml-40 -mt-64 lg:text-xl text-3xl title-font">Onde estamos?</h1>
          <p class="text-left leading-relaxed text-lg w-1/5 lg:text-sm mt-4 ml-24 lg:ml-40 lg:w-1/6 text-gray-600 inline-block">Passe o mouse sobre o mapa ao lado para ver em que cidades atuamos.</p>
          <p class="-mt-64 text-base lg:text-sm font-color-orange inline-block">Passe o mouse </p>
          <%= image_tag 'arrow-right', {class: "inline-block ml-2", alt:"hero"} %>
        </div>
        <div id="city-info">
          <div id="city-info-inside" class="city-info-header font-bold title-font"></div>
          <div id="cities_names" class="cities-list"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id='section-numeros'>
  <div class="xl:container xl:mx-auto xl:px-20 mt-8">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-6 text-black">
        <h1 class="lg:text-xl text-3xl font-bold title-font mb-4">PVE 2019 em números</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-2xl lg:text-xs">
          <span class="text-gray-600">O PVE acredita que todo mundo tem um papel na educação das crianças, e, por isso, fortalece parcerias para otimizar a intenção e o foco das ações para melhoria da educação municipal.</span>
        </p>
      </div>
      <div class="flex flex-wrap w-4/4 lg:w-4/4 items-center mx-auto">
        <div class="lg:p-4 md:w-1/4 w-full numeros-bg text-center">
            <h2 id="municipios-atendidos" class="text-3xl title-font font-color-purple mb-4 mt-16"><%= @municipios  %></h2>
            <scan class="leading-relaxed text-lg lg:text-base font-bold">Municípios atendidos</scan>
        </div>
        <div class="lg:p-4 md:w-1/4 w-full numeros-bg text-center align-text-bottom">
            <h2 id="escolas-atendidas" class="text-3xl title-font font-color-purple mb-4 mt-16"><%= @escolas  %></h2>
            <scan class="leading-relaxed text-center text-lg lg:text-base font-bold">Escolas participantes</scan>
        </div>
        <div class="p-5 lg:p-4 md:w-1/4 w-full numeros-bg text-center">
            <h2 id="pessoas-mobilizadas" class="text-3xl title-font font-color-purple mb-4 mt-10 lg:mt-16"><%= @pessoas  %></h2>
            <scan class="leading-relaxed text-lg lg:text-base font-bold">Pessoas mobilizadas</scan>
        </div>
        <div class="p-5 lg:p-4 md:w-1/4 w-full numeros-bg text-center">
            <h2 id="alunos-impactados" class="text-3xl title-font font-color-purple mb-4 mt-10 lg:mt-16"><%= @alunos  %></h2>
            <scan class="leading-relaxed text-center text-lg lg:text-base font-bold">Alunos impactados</scan>
        </div>
      </div>
    </div>
  </div>
</section>

<section id='section-matrizes-competencias'>
  <div class="xl:container xl:mx-auto xl:px-20" id='animated-matrix'>
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-6 text-black">
        <h1 class="lg:text-xl text-3xl font-bold title-font mb-4">Matrizes de competências</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-xl lg:text-xs">
          <strong>Clique nas competências</strong>
          <span class="text-gray-600">para ver como o PVE pretende melhorar a educação</span>
        </p>
      </div>
      <div class="flex flex-wrap text-center w-3/4 lg:w-2/3 items-center mx-auto">
        <div class="p-2 lg:p-4 md:w-1/3 w-full">
          <button @click='toggleSelected("btn1")' :class='{ active: activeBtn === "btn1" }'
                  class="w-full bg-very-light-blue hover:bg-blue-200 text-black font-bold py-4 px-4 rounded-full border-indigo-500 border">
            Mobilização Social
          </button>
        </div>
        <div class="p-2 lg:p-4 md:w-1/3 w-full">
          <button @click='toggleSelected("btn2")' :class='{ active: activeBtn === "btn2" }'
                  class="w-full bg-very-light-blue hover:bg-blue-200 text-black font-bold py-4 px-4 rounded-full border-indigo-500 border">
            Gestão Educacional
          </button>
        </div>
        <div class="p-2 lg:p-4 md:w-1/3 w-full">
          <button @click='toggleSelected("btn3")' :class='{ active: activeBtn === "btn3" }'
                  class="w-full bg-very-light-blue hover:bg-blue-200 text-black font-bold py-4 px-4 rounded-full border-indigo-500 border">
            Gestão Escolar
          </button>
        </div>
      </div>
    </div>
    <div class="flex flex-col text-center w-full mb-4 text-black">
    </div>
  </div>
</section>

<script>

function mouseOverMethod(e) {
  var city_information = document.getElementById("city-info");
  var cities = document.getElementById("city-info-inside");
  var names = document.getElementById("cities_names");

  city_information.style.visibility = 'visible';
  if (e.id == "RS") {
    cities.innerHTML = "Rio Grande do Sul";
    names.innerHTML = "<ul><li>Esteio</li><li>Pinheiro Machado</li></ul>";
  } 
  if (e.id == "PA") {
    cities.innerHTML = "Pará";
    names.innerHTML = "<ul><li>Capanema</li><li>Primavera</li></ul>";
  } 
  if (e.id == "MT") {
    cities.innerHTML = "Mato Grosso";
    names.innerHTML = "<ul><li>Aripuanã</li><li>Nobres</li></ul>";
  } 
  if (e.id == "TO") {
    cities.innerHTML = "Tocantins";
    names.innerHTML = "<ul><li>Xambioá</li></ul>";
  } 
  if (e.id == "PE") {
    cities.innerHTML = "Pernambuco";
    names.innerHTML = "<ul><li>Araripina</li><li>Santa Filomena</li><li>Trindade</li></ul>";
  } 
  if (e.id == "PI") {
    cities.innerHTML = "Piauí";
    names.innerHTML = "<ul><li>Betânia do Piauí</li><li>Curral Novo do Piauí</li><li>Simões</li></ul>";
  } 
  if (e.id == "BA") {
    cities.innerHTML = "Bahia";
    names.innerHTML = "<ul><li>Cachoeira</li><li>Camaçari</li><li>Governador Mangabeira</li><li>Maragogipe</li><li>São Félix</li></ul>";
  } 
  if (e.id == "SE") {
    cities.innerHTML = "Sergipe";
    names.innerHTML = "<ul><li>Laranjeiras</li></ul>";
  } 
  if (e.id == "GO") {
    cities.innerHTML = "Goiás";
    names.innerHTML = "<ul><li>Caçu</li><li>Edealina</li><li>Niquelândia</li><li>Uruaçu</li></ul>";
  } 
  if (e.id == "MG") {
    city_information.style.height = '350px';
    city_information.style.width = '280px';    
    cities.innerHTML = "Minas Gerais";
    names.innerHTML = "<ul><li>Belmiro Braga</li><li>Coromandel</li><li>Guarda-Mor</li><li>Itaú de Minas</li><li>Juiz de Fora</li><li>Lagamar</li><li>Lagoa Grande</li><li>Matias Barbosa</li><li>Muriaé</li><li>Presidente Olegário</li><li>São Gonçalo do Abaeté</li><li>São Sebastião da Vargem Alegre</li><li>Três Marias</li><li>Vazante</li></ul>";
  } 
  if (e.id == "RJ") {
    cities.innerHTML = "Rio de Janeiro";
    names.innerHTML = "<ul><li>Barra Mansa</li><li>Cantagalo</li><li>Resende</li></ul>";
  } 
  if (e.id == "SP") {
    city_information.style.height = '470px';
    cities.innerHTML = "São Paulo";
    names.innerHTML = "<ul><li>Alumínio</li><li>Angatuba</li><li>Botucatu</li><li>Catanduva</li><li>Chavantes</li><li>Divinolândia</li><li>Ibitinga</li><li>Ibiúna</li><li>Itapetininga</li><li>Juquiá</li><li>Juquitiba</li><li>Limeira</li><li>Matão</li><li>Miracatu</li><li>Nova Europa</li><li>Nova Granada</li><li>Rosana</li><li>Salto de Pirapora</li><li>Santa Isabel</li><li>Votorantim</li></ul>";
  } 
  if (e.id == "SC") {
    cities.innerHTML = "Santa Catarina";
    names.innerHTML = "<ul><li>Apiúna</li><li>Campo Belo do Sul</li><li>Capivari de Baixo</li><li>Celso Ramos</li><li>Ibirama</li><li>Imbituba</li><li>Vidal Ramos</li></ul>";
  } 
  if (e.id == "PR") {
    cities.innerHTML = "Paraná";
    names.innerHTML = "<ul><li>Almirante Tamandaré</li><li>Colombo</li><li>Itaperuçu</li><li>Ribeirão Claro</li><li>Rio Branco do Sul</li></ul>";
  } 
  if (e.id == "MS") {
    cities.innerHTML = "Mato Grosso do Sul";
    names.innerHTML = "<ul><li>Brasilândia</li><li>Corumbá</li><li>Ladário</li></ul>";
  } 
}

function mouseOutMethod() {
  var city_information = document.getElementById("city-info");
  city_information.style.visibility = 'hidden';
  city_information.style.height = '200px';
  city_information.style.width = '230px';
}
  
</script>
