<section id="home-hero-section" class="bg-left-bottom mb-16">

  <div class="xl:container xl:mx-auto xl:px-20">
    <div class="container mx-auto flex px-5 pb-2 md:flex-row flex-col items-center mb-4">
      <div class="lg:flex-grow md:w-1/2 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-base text-sm mb-2 font-color-purple">
          <strong>Seja bem vindo(a) ao PVE</strong>
        </h1>
        <p class="mb-4 leading-snug lg:text-3xl md:text-2xl text-2xl mb-4 font-color-purple">
          <strong class="font-color-purple-light">O programa que valoriza<br/>a educação com ajuda de</strong>
          <br/><strong class="font-color-purple"><span id='home-collaborator-name'>{{title}}</span></strong>
        </p>
        <%= search_form_for @q, url: search_posts_path, html: { method: :post, class:'flex w-full' } do |f| %>
          <%= f.search_field :post_content_cont, {id: 'home-search-input',
            class: 'w-full rounded mr-2 border-purple-1 pl-2',
            placeholder: 'Digite o que você procura. Ex: Webinar, Telas Abertas, Notícias'} %>
          <%= f.button type: 'submit', class: 'bg-color-orange border-grey border-l shadow hover:bg-grey-lightest rounded' do %>
            <span class='w-auto flex justify-end items-center p-2 hover:text-grey-darkest font-color-white font-bold'>
              <%= material_icon.search.css_class('font-bold') %>
            </span>
          <% end %>
        <% end %>
      </div>
      <div class="lg:max-w-lg lg:w-7/12 md:w-1/2 w-5/6 pl-16">
        <%= image_tag 'home_hero', {class: "object-cover object-center rounded", alt:"hero"} %>
      </div>
    </div>

    <div class="w-full relative bottom--110" style="margin-top: -135px;">
      <div class="flex flex-wrap -m-4 container mx-auto" id="collaborators-buttons">
        <div class="p-4 md:w-1/4">
          <a class="flex h-full border-purple-1 lg:p-3 p-2 flex-col bg-white rounded" href="/gestores">
            <div class="flex flex-col items-center mb-3">
              <%= image_tag 'hero-gestores' %>
            </div>
            <div class="flex-grow text-center">
              <p class="leading-relaxed text-sm"><strong>Gestores</strong></p>
            </div>
            <div class="flex-grow text-center">
              <p class="leading-snug text-xs"><strong>Entre aqui</strong>
                  para ver conteúdos exclusivos para Gestores Educacionais
              </p>
            </div>
          </a>
        </div>
        <div class="p-4 md:w-1/4">
          <a class="flex h-full border-purple-1 lg:p-3 p-2 flex-col bg-white rounded" href="#">
            <div class="flex flex-col items-center mb-3">
              <%= image_tag 'hero-familias' %>
            </div>
            <div class="flex-grow text-center">
              <p class="leading-relaxed text-sm"><strong>Famílias</strong></p>
            </div>
            <div class="flex-grow text-center">
              <p class="leading-snug text-xs"><strong>Entre aqui</strong>
                  para ver conteúdos exclusivos para Mobilizadores
              </p>
            </div>
          </a>
        </div>
        <div class="p-4 md:w-1/4">
          <a class="flex h-full border-purple-1 lg:p-3 p-2 flex-col bg-white rounded" href="#">
            <div class="flex flex-col items-center mb-3">
              <%= image_tag 'hero-professores' %>
            </div>
            <div class="flex-grow text-center">
              <p class="leading-relaxed text-sm"><strong>Professores</strong></p>
            </div>
            <div class="flex-grow text-center">
              <p class="leading-snug text-xs"><strong>Entre aqui</strong>
                  para ver conteúdos exclusivos para Professores
              </p>
            </div>
          </a>
        </div>
        <div class="p-4 md:w-1/4">
          <a class="flex h-full border-purple-1 lg:p-3 p-2 flex-col bg-white rounded" href="/mobilizadores">
            <div class="flex flex-col items-center mb-3">
              <%= image_tag 'hero-mobilizadores' %>
            </div>
            <div class="flex-grow text-center">
              <p class="leading-relaxed text-sm"><strong>Mobilizadores</strong></p>
            </div>
            <div class="flex-grow text-center">
              <p class="leading-snug text-xs"><strong>Entre aqui</strong>
                  para ver conteúdos exclusivos para Mobilizadores
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id='section-mapa-interativo'>
  <div class="xl:container xl:mx-auto xl:px-20">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col w-full -mb-32 text-black">
        <div class="w-full inline-block">
          <h1 class="sm:text-2xl text-xl title-font mb-4">Você sabe o que é o PVE?</h1>
          <p class="lg:w-2/4 ml-8 leading-relaxed text-sm">
            <span class="text-gray-600">O PVE é uma iniciativa do Instituto Votorantim e das empresas investidas e parceiras da Votorantim, comprometida com a melhoria da educação pública a partir da qualificação de práticas de gestão e de mobilização social de comunidades.</span>
          </p>
          <p class="lg:w-2/6 ml-8 mt-6 leading-relaxed text-sm inline-block align-top">
            <span class="font-color-orange">Saiba mais</scan>
            <%= image_tag 'arrow-right', {class: "inline-block ml-2", alt:"hero"} %>
          </p>
          <figure id="mapa">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="588" height="554.88">
              <image width="588" height="554.88" xlink:href="mapa-locations.png">
              </image>
              <a>
                <rect id="MT" x="210" y="210" opacity="0" width="32" height="35" />
                <rect id="PA" x="262" y="122" opacity="0" width="32" height="35" />
                <rect id="TO" x="367" y="170" opacity="0" width="32" height="35" />
                <rect id="PE" x="550" y="170" opacity="0" width="32" height="35" />
                <rect id="PI" x="442" y="150" opacity="0" width="32" height="35" />
                <rect id="BA" x="453" y="230" opacity="0" width="32" height="35" />
                <rect id="SE" x="526" y="210" opacity="0" width="32" height="35" />
                <rect id="GO" x="343" y="256" opacity="0" width="32" height="35" />
                <rect id="MG" x="427" y="290" opacity="0" width="32" height="35" />
                <rect id="RJ" x="454" y="365" opacity="0" width="32" height="35" />
                <rect id="SP" x="384" y="345" opacity="0" width="32" height="35" />
                <rect id="RS" x="321" y="485" opacity="0" width="32" height="35" />
                <rect id="SC" x="351" y="415" opacity="0" width="32" height="35" />
                <rect id="PR" x="328" y="367" opacity="0" width="32" height="35" />
                <rect id="MS" x="277" y="335" opacity="0" width="32" height="35" />
              </a>
            </svg>
          </figure>
        </div>
        <div class="w-full text-center inline-block -mt-4">
          <h1 class="mr-48 sm:text-2xl text-xl title-font mt-32 -mb-2 -mt-32">Onde estamos?</h1>
          <p class="text-left w-1/6 text-gray-600 inline-block">Arraste a lupa até os estados para ver as cidades em que atuamos.</p>
          <div id="lupa" class="magnifying-glass inline-block ml-2">
              <img src="lupa.png">
          </div>
          <p class="-ml-4 -mt-64 font-color-orange inline-block">Arraste </p>
          <%= image_tag 'arrow-right', {class: "inline-block ml-2", alt:"hero"} %>
        </div>
        <div id="city-info">
              <div id="city-info-header" class="font-bold title-font">Mato Grosso</div>
            </div>
      </div>
      
    </div>
  </div>
</section>

<section id='section-numeros'>
  <div class="xl:container xl:mx-auto xl:px-20">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-6 text-black">
        <h1 class="sm:text-2xl text-xl font-bold title-font mb-4">PVE em números</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-xs">
          <span class="text-gray-600">O PVE acredita que todo mundo tem um papel na educação das crianças, e, por isso, fortalece parcerias para otimizar a intenção e o foco das ações para melhoria da educação municipal.</span>
        </p>
      </div>
      <div class="flex flex-wrap w-4/4 lg:w-4/4 items-center mx-auto">
        <div class="p-1 lg:p-16 md:w-1/4 w-full numeros-bg">
          <div class="numeros-frase">
            <h2 class="text-3xl ml-12 title-font font-color-purple mb-4">100+</h2>
            <scan class="ml-2 leading-relaxed text-base font-bold">Municípios atendidos</scan>
          </div>
        </div>
        <div class="p-1 lg:p-16 md:w-1/4 w-full numeros-bg">
          <div class="numeros-frase">
            <h2 class="text-3xl ml-10 title-font font-color-purple mb-4">1000+</h2>
            <scan class="ml-4 leading-relaxed text-base font-bold">Escolas atendidas</scan>
          </div>
        </div>
        <div class="p-1 lg:p-16 md:w-1/4 w-full numeros-bg">
          <div class="numeros-frase">
            <h2 class="text-3xl ml-6 title-font font-color-purple mb-4">21.000+</h2>
            <scan class="ml-2 leading-relaxed text-base font-bold">Pessoas mobilizadas</scan>
          </div>
        </div>
        <div class="p-1 lg:p-16 md:w-1/4 w-full numeros-bg">
          <div class="numeros-frase">
            <h2 class="text-3xl ml-4 title-font font-color-purple mb-4">548.000+</h2>
            <scan class="ml-2 leading-relaxed text-base font-bold">Alunos impactados</scan>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id='section-matrizes-competencias'>
  <div class="xl:container xl:mx-auto xl:px-20" id='animated-matrix'>
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-6 text-black">
        <h1 class="sm:text-2xl text-xl font-bold title-font mb-4">Matrizes de competências</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-xs">
          <strong>Clique nas competências</strong>
          <span class="text-gray-600">para ver como o PVE pretende melhorar a educação</span>
        </p>
      </div>
      <div class="flex flex-wrap text-center w-3/4 lg:w-2/3 items-center mx-auto">
        <div class="p-2 lg:p-4 md:w-1/3 w-full">
          <button @click='toggleSelected("btn1")' :class='{ active: activeBtn === "btn1" }'
                  class="w-full bg-very-light-blue hover:bg-blue-200 text-black font-bold py-4 px-4 rounded-full border-indigo-500 border">
            Mobilização Social
          </button>
        </div>
        <div class="p-2 lg:p-4 md:w-1/3 w-full">
          <button @click='toggleSelected("btn2")' :class='{ active: activeBtn === "btn2" }'
                  class="w-full bg-very-light-blue hover:bg-blue-200 text-black font-bold py-4 px-4 rounded-full border-indigo-500 border">
            Gestão Educacional
          </button>
        </div>
        <div class="p-2 lg:p-4 md:w-1/3 w-full">
          <button @click='toggleSelected("btn3")' :class='{ active: activeBtn === "btn3" }'
                  class="w-full bg-very-light-blue hover:bg-blue-200 text-black font-bold py-4 px-4 rounded-full border-indigo-500 border">
            Gestão Escolar
          </button>
        </div>
      </div>
    </div>
    <div class="flex flex-col text-center w-full mb-4 text-black">
    </div>
  </div>
</section>

<script>
  document.getElementById("MT").addEventListener("mouseover", mouseOver);
  document.getElementById("city-info").addEventListener("mouseout", mouseOut);

  function mouseOver() {
    var city_info = document.getElementById("city-info");
    var state = document.getElementById("MT");
    
    city_info.style.top = calculateOffsetTop(state, city_info) + "px";
    city_info.style.left = calculateOffsetLeft(state, city_info) + "px";
    city_info.style.visibility = "visible";
     
    
    console.log("HELLO");
  }

  function mouseOut() {
    console.log("BYE");
    var city_info = document.getElementById("city-info");
    city_info.style.visibility = "hidden";
  }

  function calculateOffsetTop(state, city_info) {
    var state_rect = state.getBoundingClientRect();
    var city_rect = city_info.getBoundingClientRect();
    var offset   = state_rect.top - city_rect.top;

    return offset;
  }

  function calculateOffsetLeft(state, city_info) {
    var state_rect = state.getBoundingClientRect();
    var city_rect = city_info.getBoundingClientRect();
    var offset   = state_rect.left - city_rect.left;

    return offset;
  }

  dragElement(document.getElementById("lupa"));

  function dragElement(elmnt) {
    var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
    
    elmnt.onmousedown = dragMouseDown;

    function dragMouseDown(e) {
      e = e || window.event;
      e.preventDefault();
      pos3 = e.clientX;
      pos4 = e.clientY;
      document.onmouseup = closeDragElement;
      document.onmousemove = elementDrag;
    }

    function elementDrag(e) {
      e = e || window.event;
      e.preventDefault();
      pos1 = pos3 - e.clientX;
      pos2 = pos4 - e.clientY;
      pos3 = e.clientX;
      pos4 = e.clientY;
      elmnt.style.top = pos2 + "px";
      elmnt.style.left = pos1 + "px";
    }
  
    function closeDragElement() {
      document.onmouseup = null;
      document.onmousemove = null;
    }
  }
</script>
