<section class="xl:container xl:mx-auto xl:px-20 mt-12">
  <div class="container lg:px-16 xl:px-20 px-4 py-8 mx-auto">
    <div class="flex flex-wrap -mx-4">
      <div class="md:w-1/2 mb-10 px-4">
        <h2 class="title-font lg:text-2xl text-xl font-bold text-black mb-3">Vamos juntos fazer a diferença?</h2>
        <p class="leading-snug text-base font-color-blue mb-4">
          Nós acreditamos que, juntos, podemos fazer mais pela educação.
        </p>
        <p class="leading-snug text-sm font-color-gray mb-4">
          O PVE acredita que todo mundo tem um papel na educação das crianças, e, por isso, fortalece parcerias para otimizar
          a intenção e o foco das ações para melhoria da educação municipal.
        </p>
        <p class="leading-snug text-sm font-color-gray mb-4">
          Somente por meio do trabalho coletivo conseguiremos produzir resultados efetivos. Queremos olhar para além das
          dificuldades, celebrar e valorizar as conquistas que contribuem para a qualificação da educação pública.
        </p>
        <p class="leading-snug text-sm font-color-gray mb-4">
          Para atingir o objetivo de melhorar a educação, é preciso elaborar estratégias eficientes.
        </p>
        <p class="leading-snug text-sm font-color-gray mb-4">
          A partir da definição de focos de atuação e competências profissionais a serem desenvolvidas, o PVE
          realiza momentos de formação presencial e ações nos intervalos ao longo de quatro ciclos no ano.
        </p>
        <p class="leading-snug text-sm font-color-gray mb-4">
          A partir das três frentes de trabalho – <strong>Gestão Educacional, Gestão Escolar e Mobilização Social</strong>
          – planos de ação são traçados e orientam o foco do trabalho do PVE, na busca de resultados eficazes.
        </p>
      </div>
      <div class="md:w-1/2 mb-4 px-4">
        <div class="overflow-hidden mt-16">
          <%= image_tag 'opve-02', class: 'object-cover object-center h-full w-full' %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="xl:container xl:mx-auto xl:px-20">
  <div class="container lg:px-16 xl:px-20 px-4 py-8 mx-auto">
    <div class="flex flex-wrap -mx-4">
      <div class="md:w-1/2 mb-4 px-4">
        <div class="overflow-hidden lg:-mt-4">
          <%= image_tag 'opve-01', class: 'object-cover object-center h-full w-full' %>
        </div>
      </div>
      <div class="md:w-1/2 mb-10 px-4 lg:mt-6">
        <h2 class="title-font lg:text-2xl text-xl font-bold text-black mb-3">E como funciona?</h2>
        <p class="leading-snug text-base font-color-blue mb-4 italic">
          "É preciso uma aldeia inteira para educar uma criança".
        </p>
        <p class="leading-snug text-base font-color-gray mb-4 font-bold">
          Você já ouviu esse ditado?
        </p>
        <p class="leading-snug text-sm font-color-gray mb-4">
          O programa Parceria pela Valorização da Educação (PVE), como já diz seu nome, acredita na
          parceria entre todos para garantir uma educação pública de qualidade para as crianças e jovens do país.
        </p>
        <p class="leading-snug text-sm font-color-gray mb-4">
          Imagine que a criança está no centro de uma rede de apoio, que trabalha em conjunto pela melhoria da
          qualidade da sua aprendizagem.
        </p>
        <p class="leading-snug text-sm font-color-gray mb-4">
          O PVE acredita que todo mundo tem um papel na educação das crianças, e, por isso, fortalece parcerias
          para otimizar a intenção e o foco das ações para melhoria da educação municipal. 
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-very-light-blue">
  <div class="xl:container xl:mx-auto xl:px-20">
    <div class="container lg:px-16 xl:px-20 px-4 py-16 lg:py-20 mx-auto">
      <div class="flex flex-wrap -mx-4">
        <div class="md:w-1/2 px-4 flex flex-wrap content-center">
          <h2 class="title-font lg:text-2xl text-xl font-bold text-black mb-4 leading-snug">Atuação e competências profissionais</h2>
          <p class="leading-snug text-sm text-black">
            A partir da definição de focos de atuação e competências profissionais a serem desenvolvidas, o PVE realiza momentos de formação
            presencial e ações nos intervalos ao longo de quatro ciclos no ano, divididos em três frentes de trabalho:
            <strong>Gestão Educacional, Gestão Escolar e Mobilização Social.</strong>
          </p>
        </div>
        <div class="md:w-1/2 px-4 flex flex-wrap content-center">
          <div class="w-full mb-4">
            <div class="flex h-full items-center">
              <%= image_tag 'feather-check-circle', class: "text-indigo-500 w-4 h-4 flex-shrink-0 mr-4" %>
              <p class="leading-snug text-sm font-color-gray">
                <strong>Formação e apoio à gestão pública –</strong> desenvolvimento de competências para fortalecer a atuação eficiente
                de gestores educacionais e escolares.
              </p>
            </div>
          </div>
          <div class="w-full mb-4">
            <div class="flex h-full items-center">
              <%= image_tag 'feather-check-circle', class: "text-indigo-500 w-4 h-4 flex-shrink-0 mr-4" %>
              <p class="leading-snug text-sm font-color-gray">
                <strong>Trabalho focado nos temas prioritários à gestão –</strong> oferta de formações presenciais e a distância, alinhadas
                às prioridades da gestão, que contribuam para garantir o aprendizado adequado dos estudantes.
              </p>
            </div>
          </div>
          <div class="w-full">
            <div class="flex h-full items-center">
              <%= image_tag 'feather-check-circle', class: "text-indigo-500 w-4 h-4 flex-shrink-0 mr-4" %>
              <p class="leading-snug text-sm font-color-gray">
                <strong>Sensibilização e mobilização social –</strong> criação e/ou fortalecimento de ações voltadas a grupos atuantes na sociedade
                para contribuir com a promoção da qualidade da educação.
              </p>
            </div>
          </div>        
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section-pve-impact">
  <div class="xl:container xl:mx-auto xl:px-20">
    <div class="container lg:px-16 xl:px-20 px-4 py-16 lg:py-20 mx-auto">
      <div class="flex flex-wrap -mx-4">
        <div class="md:w-1/2 px-4 flex flex-wrap content-center">
          <h2 class="title-font lg:text-2xl text-xl font-bold text-black mb-5 leading-snug">Impacto do PVE</h2>
          <p class="leading-snug text-sm font-color-gray mb-4">
            Para avaliar a eficácia nos municípios que acompanha, o PVE observa o Índice de Desempenho da Educação Básica (Ideb),
            um dos principais indicadores educacionais do Brasil. Criado em 2007 pelo Instituto Nacional de Estudos e Pesquisas
            Educacionais Anísio Teixeira (Inep), o índice corresponde a um número composto a partir da taxa de rendimento escolar
            e as médias de desempenho nos exames aplicados pelo Instituto.
          </p>
          <p class="leading-snug text-sm font-color-gray">
            O trabalho da análise de impacto feito para a Parceria pela Valorização da Educação é buscar municípios que tenham
            características parecidas aos municípios que participam do PVE, comparar seus índices educacionais e, por meio de uma
            metodologia estatística, isolar o efeito que pode estar causando a variação no Ideb.
          </p>
        </div>
        <div class="md:w-1/2 pl-10 flex flex-wrap content-center">
          <p class="leading-snug text-sm font-color-gray mb-6 w-full">
            <strong>Impacto do PVE</strong>
          </p>
          <p class="leading-snug text-sm font-color-blue-stronger font-bold w-full">
            Anos iniciais do Ensino Fundamental
          </p>
          <p class="leading-snug text-sm font-color-gray w-full">
            Aceleração de <strong>31%</strong> no alcance dos resultados no <strong>FUND I em 4 anos</strong>.
          </p>
          <p class="leading-snug text-sm font-color-blue-strong font-bold w-full">
            O que isso significa?
          </p>
          <p class="leading-snug text-sm font-color-gray mb-4 w-full">
            Em <strong>4 anos</strong>, municípios alcançaram resultados que precisariam de <strong>5,2</strong> anos para atingir.
          </p>
          
          <p class="leading-snug text-sm font-color-blue-stronger font-bold w-full">
            Anos finais do Ensino Fundamental
          </p>
          <p class="leading-snug text-sm font-color-gray w-full">
            Aceleração de <strong>52%</strong> no alcance dos resultados no <strong>FUND II em 4 anos</strong>.
          </p>
          <p class="leading-snug text-sm font-color-blue-strong font-bold w-full">
            O que isso significa?
          </p>
          <p class="leading-snug text-sm font-color-gray w-full">
            Em <strong>4 anos</strong>, municípios alcançaram resultados que precisariam de <strong>6 anos</strong> para atingir.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>