<!DOCTYPE html>
<html>
  <head>
    <title>Site do PVE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'main_vue' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= render 'header' %>
  </head>

  <body class="container">
    <%= yield %>
  </body>
</html>
